/**********************************************************************************************************************/
/* BoneInspectorPanel                                                                                                         */
/**********************************************************************************************************************/

#BoneInspectorPanel {
  height : 140px;
}
